<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soeun.cafe.repository.CafeMapper">
<select id="findCafeById" resultType="CafeDto" parameterType="CafeDto">
    SELECT
        b.user_id, b.cafe_id, a.name, a.img, a.content
    FROM
        cafe a inner join cafeuser b on a.Id=b.cafe_id
    WHERE
        b.user_id=#{id};
</select>

    <select id="findNotCafeById" resultType="CafeDto" parameterType="CafeDto">
        SELECT
            b.user_id, b.cafe_id, a.name, a.img, a.content
        FROM
            cafe a left join cafeuser b on a.Id=b.cafe_id
        WHERE
            b.user_id!=#{id} or b.user_id is null;
    </select>

</mapper>